{% extends 'base.html.twig' %}

{% block title %}Liste des chatons{% endblock %}

{% block body %}
    <h1>Liste des chatons</h1>
    <br />
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        {% for chaton in chatons %}
            <tr>
                <td>{{ chaton.Titre }}</td>
                <td>{{ chaton.Description }}</td>
                <td>
                    <a href="{{ path('chaton_modifier', { 'id':chaton.id }) }}" class="btn btn-primary">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('chaton_supprimer', { 'id':chaton.id }) }}" class="btn btn-red">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('chaton_ajouter') }}" class="btn btn-primary">Ajouter un chaton</a>
{% endblock %}
